---
- name: Install essential packages
  ansible.builtin.apt:
    name:
      - build-essential
      - curl
      - unzip
      - git
      - zsh
      - tmux
      - ripgrep
      - fd-find
      - fzf
      - eza
      - python3-pip
      - python3-venv
      - libfuse2
      - texlive-full
    update_cache: true
  become: true

- name: Ensure workspace directory exists
  ansible.builtin.file:
    path: "{{ user_home }}/workspace"
    state: directory
    mode: "0755"

- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ user_home }}/.ssh"
    state: directory
    mode: "0755"

- name: Ensure .config directory exists
  ansible.builtin.file:
    path: "{{ user_home }}/.config"
    state: directory
    mode: "0755"

- name: Ensure .zsh directory exists
  ansible.builtin.file:
    path: "{{ user_home }}/.zsh"
    state: directory
    mode: "0755"
